In [38]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt
from sqlalchemy import or_

In [14]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
first_row = session.query(Measurement).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x2013b5e2f40>,
 'station': 'USC00519397',
 'date': '2010-01-01',
 'tobs': 65.0,
 'prcp': 0.08,
 'id': 1}

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [42]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
# years = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
# date_list = []
# for year in years:
    # start_date = dt.date(year, 6, 1)
    # number_of_days = 30
    # for day in range(number_of_days):
        # a_date = (start_date + dt.timedelta(days = day)).isoformat()
        # date_list.append(a_date)
# date_list
# prev_month = dt.date(2017, 6, 30) - dt.timedelta(days=30)
results=session.query(Measurement.tobs).\
    filter(or_(Measurement.date.between('2010-06-01','2010-06-30'),\
    Measurement.date.between('2011-06-01','2011-06-30'),\
    Measurement.date.between('2012-06-01','2012-06-30'),\
    Measurement.date.between('2013-06-01','2013-06-30'),\
    Measurement.date.between('2014-06-01','2014-06-30'),\
    Measurement.date.between('2015-06-01','2015-06-30'),\
    Measurement.date.between('2016-06-01','2016-06-30'),\
    Measurement.date.between('2017-06-01','2017-06-30'))).all()
print(len(results))

1700

In [5]:
#  3. Convert the June temperatures to a list.

In [44]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df=pd.DataFrame(results)
june_df.columns=['temp']
june_df.head()

   temp
0  78.0
1  76.0
2  78.0
3  76.0
4  77.0

In [46]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

              temp
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [49]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results=session.query(Measurement.tobs).\
    filter(or_(Measurement.date.between('2010-12-01','2010-12-31'),\
    Measurement.date.between('2011-12-01','2011-12-31'),\
    Measurement.date.between('2012-12-01','2012-12-31'),\
    Measurement.date.between('2013-12-01','2013-12-31'),\
    Measurement.date.between('2014-12-01','2014-12-31'),\
    Measurement.date.between('2015-12-01','2015-12-31'),\
    Measurement.date.between('2016-12-01','2016-12-31'),\
    Measurement.date.between('2017-12-01','2017-12-31'))).all()
print(len(results))

1517

In [50]:
# 7. Convert the December temperatures to a list.

In [51]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_df=pd.DataFrame(results)

In [52]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_df.describe()

                 0
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000